html,body{height:100%;}
html{
  width:100%;
  display:table;
}
body{
  display:table-cell;
  vertical-align:middle;
}
div{display:inline-block;}
input[type=url],button,progress,div{width:25em;}
*:not(br):not(hr){
  text-align:center;
  padding:0;
  margin:0;
}
*{
  font-family:'Roboto',sans-serif;
  font-size:inherit;
}
img{width:5em;height:auto;}